<h1>{{this.profiles.first_name}} {{this.profiles.surname}}</h1>
</div>
<div class = 'profile_container'>
  <div>
<img src="{{this.profiles.photo_url}}" alt="{{this.profiles.first_name}}"/>
</div>
<div>
<p>{{this.profiles.cv}}</p></div>
<div>
</br><p>Contact {{this.profiles.first_name}}</p>
  <p>{{this.profiles.email}}</p>
</div>
